/* Letras e Links */

:root {
    --primary-color: #007BFF;
    --secondary-color: #0056b3;
    --background-color: #f5f5f5;
    --text-color: #333;
    --table-border: #ddd;
    --table-header-bg: #007BFF;
    --table-header-text: #ffffff;
}

/* Aplicando as variáveis */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

th {
    background-color: var(--table-header-bg);
    color: var(--table-header-text);
}

/* Estilo para links normais */
a {
    color: darkblue; /* Use uma variável ou defina a cor diretamente */
    text-decoration: none; /* Remove o sublinhado do link */
}

/* Cor quando o link é clicado */
a:visited {
    color: gray; /* Cor para links visitados */
}

/* Cor quando o mouse passa por cima do link */
a:hover {
    color: blue; /* Pode usar outra variável ou uma cor fixa */
    text-decoration: none; /* Adiciona o sublinhado no hover */
}

/* Cor enquanto o link está sendo clicado */
a:active {
    color: #0056b3; /* Escolha uma cor de destaque */
}
